/*************************************************************
 * airPollution - colors.scss
 *
 * created by : Ahmed Sghaier - a7mado008@gmail.com
 * created on : 07.07.18 - 15:29
 * version : 1.0
 * copyright : all right reserved 2018
 *************************************************************/


.bg-white {
  background-color: white;
}

.bg-dark-red {
  background-color: darkred;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: greenyellow;
}

.bg-dark-green {
  background-color: green;
}
